.select {
  position: relative;
  display: inline-block;
  width: 200px;
}

/* 네이티브 select 리셋 */
.select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  height: 48px;
  padding: 0 40px 0 16px;

  font-size: 16px;
  color: #222;

  border: 1px solid #222;
  border-radius: 6px;
  background-color: #fff;

  cursor: pointer;
}

/* placeholder 색상 */
.select select:has(option[value='']:checked) {
  color: #999;
}

/* 포커스 */
.select select:focus {
  outline: none;
  border-color: #000;
}

/* 화살표 */
.select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;

  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;

  transform: translateY(-50%);
  pointer-events: none;
}

/* disabled */
.select select:disabled {
  background-color: #f5f5f5;
  color: #aaa;
  cursor: not-allowed;
}
