.slider {
  position: relative;
  width: 280px;
  height: 32px;
}

/* 트랙 영역 */
.slider__track {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #e0e0e0;
  border-radius: 999px;
  transform: translateY(-50%);
  overflow: hidden;
}

/* 활성 트랙 */
.slider__track-fill {
  height: 100%;
  background-color: #1e88e5;
  border-radius: inherit;
}

/* 실제 range input */
.slider__input {
  position: relative;
  width: 100%;
  height: 32px;
  background: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

/* Webkit Thumb */
.slider__input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #1e88e5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: -2px;
}

/* Firefox Thumb */
.slider__input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #1e88e5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Disabled */
.slider--disabled .slider__track {
  background-color: #e6e6e6;
}

.slider--disabled .slider__track-fill {
  background-color: #bdbdbd;
}

.slider--disabled .slider__input::-webkit-slider-thumb,
.slider--disabled .slider__input::-moz-range-thumb {
  background-color: #bdbdbd;
  cursor: not-allowed;
}
