.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0;
}

.role {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #7b7b7b;
  margin: 0;
}

.body {
  padding-left: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #333;
}

.description {
  margin: 0;
}

.footer {
  padding-left: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.contact {
  font-style: normal;
  margin: 0;
}
